
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
m4
missing
stamp-h?
.deps
.dirstamp
ibus-rtk-*
ibus-rtk.spec
i686
src/ibus-engine-rtk
src/rtklookup
src/rtk.xml
*.o
*.1
